.hourly{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    &-scroll{
        position: relative;
        overflow: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        padding: 2rem;
        border-radius: .5rem;
        background-color: rgba(255, 255, 255, .1);
        text-align: center;
    }
    &-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
    }
    &-item{
        width: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2rem 4rem;
        border-radius: 1rem;
        color: white;
        background-color: rgba($color: #000000, $alpha: .15);
        &:not(:last-child){
            margin-left: 1.5rem;
        }
        &-time,&-temp,&-rain{
            font-size: 2rem;
        }
        &-image{
            height: 4rem;
            width: 4rem;
            margin-bottom: .5rem;
        }
        &-time{
            margin-bottom: 1rem;
        }
    }
}
@media only screen and (max-width: 768px) {
    .hourly{
            &-scroll{
                padding: 1rem;
            }
            &-grid{
                width: 200rem;
            }
            &-item{
                width: 8rem;
                padding: 1rem;
                &:not(:last-child){
                    margin-left: 1rem;
                }
                &-time,&-temp,&-rain{
                    font-size: 1.2rem;
                }
                &-image{
                    height: 2rem;
                    width: 2rem;
                    margin-bottom: .2rem;
                }
                &-time{
                    margin-bottom: .3rem;
                }
            }
        }
}