
.form{
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--blue1);
    background-size: 400% 400%;
    //animation: loading 15s ease-in infinite;
    &-container{
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 20;
    }
    &-title{
        color: var(--blue5);
        margin-bottom: 2rem;
        white-space: nowrap;
    }
    &-box{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45rem;
        padding: 2rem;
        margin-top: 10rem;
        border-radius: .5rem;
        background-color: #fff;
    }
    &-inputs{
        position: relative;
        display: flex;
        align-items: center;
        border-radius: .5rem;
        overflow: hidden;
        width: 100%;
        &-string{
            width: 100%;
            background-color: #fff;
            border: 1px solid var(--blue2);
            outline: none;
            color: #000;
            padding: .5rem;
            font-size: 1.5rem;
            border-radius: .5rem;
            &:focus-visible{
                border: 1px solid var(--blue4);
            }
            &::placeholder{
                text-align: right;
                font-size: 1.5rem;
                color: rgb(100, 100, 100);
            }
        }
        &-submit{
            position: absolute;
            height: 100%;
            left: 0;
            bottom: 0;
            padding: .5rem 1rem;
            background-color: var(--blue4);
            border: 1px solid #fff;
            border-radius: .5rem;
            color: #fff;
        }
    }
    &-result{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 22rem;
        &-show{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 2rem;
            margin-top: 2rem;
            border-radius: .5rem ;
            background-color: #fff;
        }
        &-item {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 100%;
            text-align: left;
            background-color: var(--blue4);
            border-radius: .5rem;
            padding: 1rem;
            color: #fff;
            cursor: pointer;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
            
        }
        &-icon{
            width: 2rem;
            height: 100%;
            margin-right: 1rem;
        }
    }
    &-loading{
        width: 100%;
        height: 3.4rem;
        margin-bottom: 1rem;
        border-radius: .5rem;
        background: linear-gradient(90deg, var(--dark-gray) 0%, var(--dark-gray) 45%, var(--light-gray) 50%, var(--dark-gray) 55%, var(--dark-gray) 100%);
        background-size: 200% 200%;
        animation: loading 2s ease-in infinite;
    }

}

@keyframes loading {
    0%{
        background-position: -50% 100%;
    }
    100%{
        background-position: 150% 100%;
    }
}