.main{
    background: linear-gradient(to top left,#14bcf8,#1068f3);
}
.loading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}