.daily{
    padding-bottom: 2rem;
    &-title{
        color: #fff;
        margin-bottom: 3rem;
    }
    &-content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: .5rem;
        padding: 1rem;
        background-color: #fff;
    }
    &-item{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 1rem;
        //background-color: rgba(0, 0, 0, 0.15);
        color: var(--blue5);
        &:not(:last-child){
            border-bottom: 1px solid var(--blue1);
        }
        &-time{
            width: 10rem;
        }
        &-rain{
            width: 6rem;
            & img{
                height: 2rem;
                margin-left: 1rem;
            }
            & span{
                height: 2rem;
            }
        }
        &-image{
            justify-content: center;
            & img{
                width: 3rem;
                height: 3rem;
            }
            
        }
        &-min-mix{
            justify-content: end;
            width: 10rem;
            & img{
                width: 2rem;
                height: 2rem;
                margin-left: 1rem;
            }
            & span{
                height: 2rem;
            }

        }
    }
}
@media only screen and (max-width: 768px) {
    .daily{
        &-content{
            padding: 1rem;
        }
        &-item{
            padding: .5rem;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
            &-time,&-rain,&-min-mix{
                font-size: 1.2rem;
            }
            &-rain{
                & span{
                    height: 1.5rem;
                }
            }
            &-min-mix{
                & span{
                    height: 1.5rem;
                }
            }
        }
    }
}