$color:#14bcf8;
$color2: #1068f3;
:root{
    --light-gray: #f3f3f3;
    --dark-gray: #c9c9c9;
    --blue1: #e8f3f9;
    --blue2: #afe1f2;
    --blue3: #34a0c6;
    --blue4: #11687f;
    --blue5: #032635;
}
*, ::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.5rem;
}
input, button {
    font-family: inherit;
}
a{
    text-decoration: none;
    color: #1068f3;
}
// helper

.align-items-center{
    display: flex;
    align-items: center;
}